COMPANY_NAME="Mago das Vendas"
SITE_NAME="Mago das Vendas"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_PUBLIC_BASE_URL=""
MERCADO_PAGO_NOTIFICATION_URL=""
REVALIDATION_SECRET=""
